<ng-container *ngIf="dialog">
    <div class="row">
        <div class="col-xxl-12">
            <nb-card [nbSpinner] = "loading" nbSpinnerSize="large" nbSpinnerStatus="danger">
                <nb-card-header style="text-align: center;">
                    Recuperar Contraseña
                </nb-card-header>
                <nb-card-body>
                    <nb-form-field>
                        <form [formGroup]="firstFormGroup" autocomplete="off">
                            <label for="inputCorreo"  class="label">Correo electrónico</label>
                            <br>
                            <div class="input-box">
                                <nb-icon style="margin-right: 3%;" icon="email-outline" pack="eva">
    
                                </nb-icon>
                                <input type="text" nbInput fullWidth placeholder="Correo" formControlName="correo" id = "inputCorreo" (input)="change($event, 'correo')">
                            </div>
                            
                            <p *ngIf="noCorreo" class="caption status-danger">
                                Correo requerido
                            </p>
                            <ng-container *ngIf="!noCorreo;">
                                <p *ngIf="incorrectCorreo;" class="caption status-danger">
                                    Correo mal escrito
                                </p>
                            </ng-container>

                            <ng-container *ngIf="!noCorreo && !incorrectCorreo">
                                <br>
                            </ng-container>

                            <label for="inputPass"  class="label">Contraseña Nueva</label>
                            <br>
                            <div class="input-box">
                                <nb-icon style="margin-right: 3%;" icon="lock-outline" pack="eva">
    
                                </nb-icon>
                                
                                
                                    <input [type]="getInputType()" nbInput  placeholder="Contraseña" formControlName="pass" id = "inputPass" (input)="change($event, 'pass')">
                                    <button nbSuffix nbButton ghost (click)="toggleShowPassword()" >
                                        <nb-icon [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'"
                                                pack="eva"
                                                [attr.aria-label]="showPassword ? 'hide password' : 'show password'">
                                        </nb-icon>
                                    </button>
                            
                                
    
    
    
                            </div>

                            <p *ngIf="noPass" class="caption status-danger">
                                Nueva Contraseña requerida
                            </p>
    
                            <ng-container *ngIf="!noPass;">
                                <p *ngIf="incorrectPassLength;" class="caption status-danger">
                                    La nueva contraseña debe tener al menos 8 caracteres.
                                </p>
                                <p *ngIf="!incorrectPassLength && incorrectPassNumber;" class="caption status-danger">
                                    La nueva contraseña debe tener al menos un número.
                                </p>
    
                                <p *ngIf="!incorrectPassLength && !incorrectPassNumber && incorrectPassSpecial;" class="caption status-danger">
                                    La nueva contraseña debe tener al menos un caracter especial.
                                </p>
    
                                <p *ngIf="!incorrectPassLength && !incorrectPassNumber && !incorrectPassSpecial && incorrectPassUpper;" class="caption status-danger">
                                    La nueva contraseña debe tener al menos una mayúscula.
                                </p>
    
                            </ng-container>
    
                            <ng-container *ngIf="!noPass && !incorrectPassLength && !incorrectPassNumber && !incorrectPassSpecial && !incorrectPassUpper">
                                <br>
                            </ng-container>
                            
                            <label for="inputPass2"  class="label">Confirmar Contraseña Nueva</label>
                            <br>
                            <div class="input-box">
                                <nb-icon style="margin-right: 3%;" icon="lock-outline" pack="eva">
    
                                </nb-icon>
                                
                                
                                    <input [type]="getInputType2()" nbInput  placeholder="Confirmar Contraseña" formControlName="pass2" id = "inputPass2"  (input)="change($event, 'pass2')">
                                    <button nbSuffix nbButton ghost (click)="toggleShowPassword2()" >
                                        <nb-icon [icon]="showPassword2 ? 'eye-outline' : 'eye-off-2-outline'"
                                                pack="eva"
                                                [attr.aria-label]="showPassword2 ? 'hide password' : 'show password'">
                                        </nb-icon>
                                    </button>
                                
                                
    
    
    
                            </div>
                            <p *ngIf="noPass2" class="caption status-danger">
                                Confirma la nueva contraseña
                            </p>

                            <ng-container *ngIf="!noPass2;">
                                <p *ngIf="notEquals;" class="caption status-danger">
                                    Las contraseñas no coinciden.
                                </p>
                            </ng-container>

                            <ng-container *ngIf="!noPass2 && !notEquals">
                                <br>
                            </ng-container>
                            <div style="text-align: center;">
                                
                                
                                <button  nbButton status="success" (click)="solicitarCambio()">
                                    <nb-icon icon="checkmark-outline" pack="eva"></nb-icon>
                                    Solicitar Cambio
                                    
                                </button>
                            </div>
                        </form>
                    </nb-form-field>
                </nb-card-body>
            </nb-card>
    
        </div>
    </div>
</ng-container>
