<div class="row">
  <div class="col-xxl-12">
    <div class="separador">
      <nb-card>
        <nb-card-header >
          Nivel Nacional.
        </nb-card-header>

      </nb-card>
    </div>
    
  </div>
</div>

<div class="row">
  
    <div class="col-lg-6">
      
      <ngx-grafica-indicadores-categoria></ngx-grafica-indicadores-categoria>
    </div>
    
  

  <div class="col-lg-6">
    <ngx-grafica-indicadores-anyos></ngx-grafica-indicadores-anyos>
  </div>


</div>


<div class="row">
  <div class="col-xxl-12">
    <div class="separador">
      <nb-card>
        <nb-card-header >
          Nivel de área geográfica.
        </nb-card-header>

      </nb-card>
    </div>
    
  </div>
</div>


  <ngx-country-orders></ngx-country-orders>
  






<!--
<div class="row">
  <div class="col-xxl-5">
    <div class="row">
      <div class="col-md-6">
        <ngx-profit-card></ngx-profit-card>
      </div>
      <div class="col-md-6">
        <ngx-earning-card></ngx-earning-card>
      </div>
    </div>

    <ngx-traffic-reveal-card></ngx-traffic-reveal-card>
  </div>

  <div class="col-xxl-7">
    <ngx-ecommerce-charts></ngx-ecommerce-charts>
  </div>
</div>

-->

